/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset
@import compass/css3
@import palette

$primary-color: Green

$pt-mode-font-size: 3rem
$pt-mode-font-weight: 300
$pt-mode-font-family: "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif

$pt-btn-font-size: 1.5rem
$pt-btn-font-color: white

body
  background-color: palette($primary-color)
  color: $pt-btn-font-color
  font-size: $pt-mode-font-size
  font-weight: $pt-mode-font-weight
  font-family: $pt-mode-font-family
  line-height: $pt-mode-font-size

button
  @include box-shadow(none)
  @include transition-duration(background)
  @include transition-duration(.3s)

  background-color: palette($primary-color, 800)
  color: $pt-btn-font-color
  border: none
  text-shadow: none
  padding: $pt-btn-font-size
  margin: 0
  text-decoration: none
  text-align: center
  font-size: $pt-btn-font-size

  &:hover, &:focus, &:active, &.is-active, &.active
    text-decoration: none
    outline: none

  &:hover, &:focus
    background: palette($primary-color, 200)
  // &:active, &.is-active, &.active
  //   @include transition-duration(1s)