/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset
@import compass/css3
@import palette

$pt-default-primary-color: Indigo
$pt-default-font-weight: 300
$pt-default-font-family: "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif

$pt-mode-font-size: 3rem

$pt-btn-font-size: 1.5rem
$pt-btn-font-color: white

body
  background-color: palette($pt-default-primary-color, A400)
  color: $pt-btn-font-color
  font-size: $pt-mode-font-size
  font-weight: $pt-default-font-weight
  font-family: $pt-default-font-family
  line-height: $pt-mode-font-size

button
  +box-shadow(none)
  +transition-duration(background)
  +transition-duration(.2s)
  +single-box-shadow(null, null, 16px, null, palette($pt-default-primary-color, 900))

  background-color: palette($pt-default-primary-color, 700)
  color: $pt-btn-font-color
  border: none
  text-shadow: none
  padding: $pt-btn-font-size
  margin: 0
  text-decoration: none
  text-align: center
  font-size: $pt-btn-font-size
  font-weight: $pt-default-font-weight
  font-family: $pt-default-font-family
  position: relative
  top: 0px

  &:hover, &:focus, &:active, &.is-active, &.active
    text-decoration: none
    outline: none

  &:hover, &:focus
    background-color: palette($pt-default-primary-color, 600)
    +single-box-shadow(null, null, 16px, null, palette($pt-default-primary-color, 800))
  &:active, &.is-active, &.active
    background-color: palette($pt-default-primary-color)
    background-color: palette($pt-default-primary-color, 700)
    +single-box-shadow(null, null, 8px, null, palette($pt-default-primary-color, 900))
    top: 8px