<!doctype html>
<html lang="en" data-ng-app="pomodoroTimer">
<head>
  <meta charset="UTF-8">
  <title data-ng-bind="title">Pomodoro Timer</title>
  <link href="assets/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body data-ng-controller="PomodoroController" ng-class="cycleColor">
  <div class="container">
    <pt-indicator></pt-indicator>

    <div>
      <button type="button" class="btn btn-run" data-ng-click="runPomodoro()">Run</button>
      <button type="button" class="btn btn-stop" data-ng-click="pausePomodoro()">Stop</button>
      <button type="button" class="btn btn-reset" data-ng-click="resetPomodoro()">Reset</button>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.4/angular.min.js"></script>
  <script src="app/app.js"></script>
</body>
</html>