<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pomodoro Timer</title>
  <link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.4/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.4/angular-animate.min.js"></script>
  <script src="pomodoro.js"></script>
</head>
<body data-ng-app="pomodoroTimer">
  <ng-view>
    <div data-ng-controller="PomodoroController">
      <div>{{current_cycle}}</div>

      <time>{{pomodoro_timer_display}}</time>

      <button type="button" data-ng-click="runPomodoro()">Run</button>
      <button type="button" data-ng-click="stopPomodoro()">Stop</button>
      <button type="button" data-ng-click="resetPomodoro()">Reset</button>
    </div>
  </ng-view>
</body>
</html>