/* line 5, C:/ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * google-material-color v1.1.0
 * https://github.com/danlevan/google-material-color
 */
/* line 17, ../sass/screen.sass */
body {
  -moz-transition-duration: background;
  -o-transition-duration: background;
  -webkit-transition-duration: background;
  transition-duration: background;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background-color: #607D8B;
  color: white;
  font-size: 4rem;
  font-weight: 300;
  font-family: "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
  line-height: 4rem;
}

/* line 27, ../sass/screen.sass */
.cycle-stop {
  background-color: #607D8B;
}

/* line 30, ../sass/screen.sass */
.cycle-work {
  background-color: #FF5722;
}

/* line 33, ../sass/screen.sass */
.cycle-break {
  background-color: #4CAF50;
}

/* line 36, ../sass/screen.sass */
.container {
  position: absolute;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
}

/* line 41, ../sass/screen.sass */
.indicators {
  text-align: center;
  margin: 4rem 0;
  line-height: 8rem;
}

/* line 46, ../sass/screen.sass */
button {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-duration: background;
  -o-transition-duration: background;
  -webkit-transition-duration: background;
  transition-duration: background;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-box-shadow: 0px 16px #263238;
  -webkit-box-shadow: 0px 16px #263238;
  box-shadow: 0px 16px #263238;
  background-color: #455A64;
  color: white;
  border: none;
  text-shadow: none;
  padding: 1.5rem;
  margin: 0;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
  position: relative;
  top: 0px;
}
/* line 66, ../sass/screen.sass */
button:hover, button:focus, button:active, button.is-active, button.active {
  text-decoration: none;
  outline: none;
}
/* line 70, ../sass/screen.sass */
button:hover, button:focus {
  background-color: #546E7A;
  -moz-box-shadow: 0px 16px #37474F;
  -webkit-box-shadow: 0px 16px #37474F;
  box-shadow: 0px 16px #37474F;
}
/* line 73, ../sass/screen.sass */
button:active, button.is-active, button.active {
  background-color: #607D8B;
  background-color: #455A64;
  -moz-box-shadow: 0px 8px #263238;
  -webkit-box-shadow: 0px 8px #263238;
  box-shadow: 0px 8px #263238;
  top: 8px;
}
